<div class='body-wrapper'>
	<div class='wrapper'>
		<h1>Welcome</h1>

		<div class='nav-wrapper'>
			<%= link_to doctors_path, class: 'nav-item' do %>
				<i class="fas fa-stethoscope"></i>
				<span>Find A Doctor</span>
			<% end %>
		</div>
	</div>
</div>